@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@0,300;0,700;1,100&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: Poppins;
}


.header{
    text-align: center;
}

.button{
    width: 200px;
    padding: 20px;
    margin: 5px 6px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-style: bold;
    font-family: Poppins;
}


.container{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

